.totals_cell{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem;
    .cell_title{
        font-weight: 600;
        margin-bottom: 4px;
    }
    .cell_amount{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
// .totals{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
// }
