.theme_switcher {
    padding: 3px;
    cursor: pointer;
    background-color: blue;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    margin-right: 0.5rem;
}